<html>
<head>
    <link href="~/styles/register.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/register.js"></script>
</head>
<body>
    <div class="logo">
        <img src="~/images/logo.png" />
    </div>
    <div class="content">
        <div class="trapezoid">
            <div class="trapezoid-main">
                <div class="trapezoid-inner">@SR["Register"]</div>
            </div>
        </div>
        <div class="detail-outer">
            <div class="textbox-label">@SR["Email address"]</div>
            <input type="text" class="textbox" />
            <div class="button-outer">
                <input type="submit" value="@SR["Send Email"]" class="button" />
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © @DateTime.Now.Year @SR["Beijing Tsba Education And Technologies Co., Ltd."]</div>
</body>
</html>