@model IEnumerable<OpenId>
@{ 
    ViewBag.Title = SR["Authorization"];
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@SR["Authorization"]</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        <div class="grid_9">
            <div class="application-outer">
                @if (Model.Count() > 0)
                {
                    @foreach (var x in Model)
                    {
                        <div class="application-item @(x.Disabled ? "" : "highlight")">
                            <img src="~/blob/download/@x.Application.IconId" class="application-item-icon" />
                            <div class="application-item-content">
                                <div class="application-item-title">@x.Application.Name</div>
                                <div class="application-item-details">@x.Application.Description</div>
                            </div>
                            @if (x.Disabled)
                            {
                                <a class="application-item-btn blue" href="javascript:accountChangeApplicationAuthorization('@x.Id', true);">@SR["Disable"]</a>
                            }
                            else
                            {
                                <a class="application-item-btn" href="javascript:accountChangeApplicationAuthorization('@x.Id', false);">@SR["Enable"]</a>
                            }
                            <div class="clear"></div>
                        </div>
                    }
                }
                else
                { 
                    <div class="application-no-result">@SR["No application found."]</div>
                }
            </div>
        </div>

        @await Html.PartialAsync("_Sidebar")
    </div>
</div>

<form asp-action="Authorization" asp-controller="Account" asp-route-id="@ViewContext.RouteData.Values["id"]" id="frmAuthorization">
    <input type="hidden" id="hidOpenId" name="openId" />
    <input type="hidden" id="hidDisabled" name="disabled" />
</form>