@{ 
    ViewBag.Title = SR["Log in"];
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@SR["Login User Center"]</h1>
    </div>
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-md-offset-2">
        <div class="card card-single card-error">
            <div class="error-block-inner">
                <h3>@SR["JoyOI User Center"]</h3>
                <form method="post" asp-action="Login" asp-controller="Account">
                    <p>
                        <span class="texthold">@SR["Username"]</span>
                        <input type="text" class="textbox w-3" name="username" placeholder="@SR["Username / Phone Number / Email"]" />
                    </p>
                    <p>
                        <span class="texthold">@SR["Password"]</span>
                        <input type="password" class="textbox w-3" name="password" />
                    </p>
                    <input type="submit" value="@SR["Log in"]" class="btn btn-default ripple home-link" />
                    &nbsp;
                    <a asp-controller="Account" asp-action="Forgot">@SR["Forgot?"]</a>
                    <a asp-controller="Account" asp-action="Register">@SR["Register"]</a>
                </form>
            </div>
        </div>
    </div>
</div>
