@{
    Layout = null;
}
<html>
<head>
    <link href="~/styles/register.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/register.js"></script>
</head>
<body>
    <div class="logo">
        <img src="~/images/logo.png" />
    </div>
    <form asp-action="VerifyPhone" method="get">
        <div class="content">
            <div class="trapezoid">
                <div class="trapezoid-main">
                    <div class="trapezoid-inner">@SR["Register"]</div>
                </div>
            </div>
            <div class="detail-outer">
                <div class="textbox-label">@SR["Input Verify Code"]</div>
                <input type="text" class="textbox" name="code" />
                <div class="button-outer">
                    <input type="submit" value="@SR["Next"]" class="button" />
                </div>
            </div>
        </div>
    </form>
    <div class="copyright">Copyright © @DateTime.Now.Year @SR["Beijing Tsba Education And Technologies Co., Ltd."]</div>
</body>
</html>